<!DOCTYPE html>
<html>
<head>
    <title>DOLLARTOTEXT</title>
    <meta charset="utf-8" />
    <!--Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <form>
                <div class="form-group" style="width:30%">
                    <label for="enterNumber">Enter Number:</label>
                    <input type="number" class="form-control" id="enterNumber" step="0.01" min="0" required />
                    <button id="submitBtn" class="btn btn-primary" type="button">Transfer Number To Text</button>
                </div>
                <div id="showText"></div>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#submitBtn').on('click', function (e) {
                const formCheck = document.getElementById("enterNumber");
                if (formCheck.checkValidity() === false) {
                    alert(formCheck.validationMessage);
                    return false;
                }
                var o = $('#enterNumber').val().split('.');
                o = o.length > 1 ? { iInt: o[0], iFloat: o[1].length === 1 ? o[1] + '0' : o[1] } : { iInt: o[0], iFloat: '0' };
                $.ajax({
                    type: 'POST',
                    url: 'home',
                    data: JSON.stringify(o),
                    contentType: "application/json",
                    success: function (result) {
                        $('#showText').html(result);
                    },
                    error: function () {

                    }
                });
                //console.log(o);
            })

            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    $('#submitBtn').click();
                }
            });
        }
        )
    </script>
</body>
</html>
